html {
    background: url("../Images/Patterns/zwartevilt.png") black;
    cursor: default;
    margin: 0;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

#container {
    background: url("../Images/Patterns/simple_dashed.png") black;
    font-size: 20px;
    color: #e2d4d4;
    font-family: 'Lato', sans-serif;
    width: 1000px;
    min-height: 600px;
    margin: 0 auto;
    padding: 0 5px;
}
h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
    color: #4079de;

}
.blockContainer {
  width: 400px;
  margin: 0 auto;
}
.block {
  margin: 5px;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  float: left;
  background: #55aa44;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.text{
  padding: 10px;
  font-family: 'TimesNewRoman', sans-serif;
}
.goToMainPage {
  margin: 5px;
  width: 45px;
  height: 45px;
  background: yellow;
  position: absolute;
  top: 0;
  left: 0;
}
form {
  width: 900px;
  margin: 0 50px 50px 50px;
}
input[type="text"] {
  width: 900px;
  height: 20px;
  font-size: 18px;
  border: 0;
}
select {
  width: 900px;
  height: 22px;
  font-size: 18px;
  padding: 0;
  border: 0;
}
input[type="submit"] {
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: white;
  background: #aa22aa;
  padding: 1px;
  margin: 10px auto;
  display: block;
  border: none;
  cursor: pointer;
    -webkit-box-shadow: 5px 5px 10px 0px #afa;
    -moz-box-shadow:    5px 5px 10px 0px #afa;
    box-shadow:         5px 5px 10px 0px #afa;
}
input[type="submit"]:hover{
  -webkit-box-shadow: 5px 5px 10px 0px #fff;
  -moz-box-shadow:    5px 5px 10px 0px #fff;
  box-shadow:         5px 5px 10px 0px #fff;

}
textarea {
  width: 900px;
  height: 100px;
  font-size: 18px;
  border: 0;
}
.label {
  width: 50px !important;
}
blockquote{
  display:block;
  width: 900px;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  text-align: justify;
  background: url("../Images/Patterns/brushed.png") black;


}
blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 80px;
  font-weight: bold;
  color: #000;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}
